<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-bluetooth-printer"
        version="1.0.0">
    <name>BluetoothPrinter</name>
    <description>Cordova Plugin for printing HTML using Bluetooth ESC/POS printer</description>
    <license>MIT</license>
    <keywords>bluetooth, printer, thermal</keywords>
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
        </config-file>
        <source-file src="src/android/BluetoothPrinter.java" target-dir="src/android"/>
    </platform>
    <js-module src="www/bluetoothPrinter.js" name="BluetoothPrinter">
        <clobbers target="BluetoothPrinter"/>
    </js-module>
</plugin>
